@font-face {
  font-family: 'RaiFont';
  src: url('Rai-font.ttf')  format('truetype')
}

body {
  margin: 0;
  background-color: rgb(240, 240, 240);
  color: #2c2c2c;
}

body.dark {
  background-color: rgb(36, 36, 36);
  color: rgb(231, 231, 231);
}

.popup {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  background-color: white;
  font-size: 0.8rem;
  margin: 5px;
  border-radius: 15px;
  width: 260px;
  padding-bottom: 20px;
}

.dark .popup {
  background-color: #363636;
}

.popup div {
  margin: 10px auto;
}

.popup .logo-img {
  height: 70px;
}

.popup .rai-img {
  height: 40px;
}

.popup .price {
  color: #24c7a7;
  font-size: 24px;
  font-weight: bold;
}

#reflexerPop:hover {
  cursor: pointer;
}

.light-logo {
  display: none;
}

.dark .light-logo {
  display: inline;
}

.dark .dark-logo {
  display: none;
}

.rai-font {
  font-family: 'RaiFont', sans-serif;
  font-size: 40px;
  color: #24c7a7;
  display: inline-block;
  transform: scale(1,1.2);
  letter-spacing: 2px;
}

.popup .title {
  font-size: 40px;
}
/*

.popup .title {
  background-color: #24c7a7;
  padding: 8px 15px;
}

.popup .title h1 {
  text-align: left;
  font-size: 1.3rem;
  margin: 0;
  color: white;
}

.popup .content {
  padding: 15px 25px;
}

.popup .price {
  font-size: 1.4rem;
  font-weight: bold;
  display: table;
  margin: 0 auto 8px auto;
}

.popup .price img {
  height: 48px;
  margin-right: 8px;
}

.popup .price img, .popup .price span {
  display: table-cell;
  vertical-align: middle;
} */

.input-group {
  padding-top: 8px;
}

input:focus-visible {
  outline: none;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { 
  margin-left: 5px; 
} 

.form-input {
  color: #495057;
  display: inline-block;
  padding: 4px 7px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

#decimals {
  width: 54px;
  text-align: right;
}

#interval {
  width: 70px;
  text-align: right;
}

*, ::after, ::before {
  box-sizing: border-box;
}

button, input, select {
  font-family: inherit;
}

.options {
  padding: 30px;
}

.switch-container {
  margin: 5px auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 21px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 21px;
  transition-property: background-color, transform;
  transition-duration: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition-property: background-color, transform;
  transition-duration: 0.4s;
}

input:checked + .slider {
  background-color: #24c7a7;
}

input:checked + .slider:before {
  transform: translateX(19px);
}

#darkMode + .slider {
  background-color: #5e5e5e;
}

#darkMode:checked + .slider {
  background-color: #ececec;
}

#darkMode + .slider:before {
  background-color: #ececec;
  background-image: url("./images/sun.png");
  background-repeat: no-repeat;
  background-size: 13px;
  background-position-x: 1px;
  background-position-y: 1px;
}

#darkMode:checked + .slider:before {
  background-color: #2c2c2c;
  background-image: url("./images/moon.png");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position-x: 2px;
  background-position-y: 1px;
}

.icon {
  height: 16px;
  cursor: pointer;
}